<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No</th>
            <th>Name Bank</th>
            <th>Nomor Rekening</th>
            <th>Name</th>
            <th>Image</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < bank.length; i++){ %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= bank[i].nameBank %></td>
            <td><%= bank[i].nomorRekening %></td>
            <td><%= bank[i].name %></td>
            <td>
              <img src="https://admin-staycation.herokuapp.com/<%= bank[i].imageUrl %>" alt="imageUrl" width="70px">
            </td>
            <td>
              <form action="/admin/bank/<%= bank[i].id %>?_method=DELETE" method="POST">
                <a href="javascript:void();" type="button" class="btn btn-warning btn-circle btn-sm button-update"
                  data-id="<%= bank[i].id %>" data-name="<%= bank[i].name %>" data-namebank="<%= bank[i].nameBank %>"
                  data-nomorrekening="<%= bank[i].nomorRekening %>" "><i
                    class=" fas fa-edit"></i></a>
                <button type="submit" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>